@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

:root {
  /* COLORS */
  --BGCOLOR: #0f172a;
  --BORDER-COLOR: #fff;
  --COLOR: #fff;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

.form__label {
  font-size: 1.1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
